@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.side-menu {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0;
	margin: $indM 0 0;

	&__item {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;

		&:not(:last-child) {
			margin-bottom: $indS;
		}

		.side-menu__item--active & {
			flex-grow: 1;
		}
	}

	&__item-button {
		flex-shrink: 0;
		width: 100%;
		padding: 0 $indM $indS;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		text-align: left;
		transition: color $mainTransition;
		color: fade-out($sideMenuTextClr, .5);

		&:hover,
		&:focus,
		.side-menu__item--active & {
			color: $sideMenuBtnClr;
		}
	}
}

.groups-list {
	display: flex;
	flex-direction: column;

	&__item {
		flex-shrink: 0;
		position: relative;
		height: $indXL;
		padding: 0 $indM;
		font-size: 16px;
		text-align: left;
		color: $sideMenuTextClr;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-left: 3px solid $sideMenuHoverColor;
			opacity: 0;
			background: linear-gradient(to right, rgba(127, 142, 218, .2), transparent);
			transition: $mainTransition;
		}

		&:hover,
		&:focus,
		&--active {
			&:before {
				opacity: 1;
			}
		}
	}
}

.items-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: scroll;
	display: none;

	.side-menu__item--active & {
		display: flex;
	}
}