@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';



/*==========  groupsList.scss ==============*/

.groups-list {
	display: flex;
	flex-direction: column;

	&__item {
		flex-shrink: 0;
		position: relative;
		height: $indXL;
		padding: 0 $indM;
		font-size: 16px;
		text-align: left;
		color: $sideMenuTextClr;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-left: 3px solid $sideMenuHoverColor;
			opacity: 0;
			background: linear-gradient(to right, rgba(127, 142, 218, .2), transparent);
			transition: $mainTransition;
		}

		&:hover,
		&:focus,
		&--active {
			&:before {
				opacity: 1;
			}
		}
	}
}


/*==========  sidebar.scss ==============*/

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: $sidebarWidth;
	padding: $indM 0 0;
	transition: transform $mainTransition;
	background: linear-gradient(to bottom, $sidebarBgClr, lighten($sidebarBgClr, 20%));

	@media ($mdDevice) {
		padding-top: $indS;
		transform: translateX(-100%);

		&--active {
			transform: translateX(0);
		}
	}

	&__title {
		flex-shrink: 0;
		margin: 0;
		font-size: $fontL;
		line-height: 1;
		font-weight: 500;
		color: $sidebarTextClr;
		text-align: center;

		@media ($mdDevice) {
			display: none;
		}
	}

	.mobile-menu {
		@include mobileBtn(fade-out($sidebarTextClr, .5), $sidebarTextClr);
		margin-left: $indM;
	}
}



/*==========  sidemenu.scss ==============*/

.side-menu {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0;
	margin: $indM 0 0;

	&__item {
		display: flex;
		flex-direction: column;


		&:not(:last-child) {
			margin-bottom: $indS;
		}

		.side-menu__item--active & {
			flex-grow: 1;
		}
	}

	&__item-button {
		flex-shrink: 0;
		width: 100%;
		padding: 0 $indM $indS;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		text-align: left;
		transition: color $mainTransition;
		color: fade-out($sideMenuTextClr, .5);

		&:hover,
		&:focus,
		.side-menu__item--active & {
			color: $sideMenuBtnClr;
		}
	}
}

.items-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: scroll;
	display: none;

	.side-menu__item--active & {
		display: flex;
	}
}